<a href="https://colab.research.google.com/github/greyhound101/IEEE-CIS-Fraud/blob/master/finding_magic_feature_missel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
os.environ['KAGGLE_USERNAME'] = "tapaskd123" # username from the json file
os.environ['KAGGLE_KEY'] = "aba8dc1f085221111d925003fe5a88ed" # key from the json file
!kaggle competitions download -c ieee-fraud-detection

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading train_identity.csv.zip to /content
  0% 0.00/3.26M [00:00<?, ?B/s]
100% 3.26M/3.26M [00:00<00:00, 52.9MB/s]
Downloading test_transaction.csv.zip to /content
 82% 43.0M/52.2M [00:00<00:00, 77.4MB/s]
100% 52.2M/52.2M [00:00<00:00, 150MB/s]
Downloading sample_submission.csv.zip to /content
  0% 0.00/1.14M [00:00<?, ?B/s]
100% 1.14M/1.14M [00:00<00:00, 163MB/s]
Downloading test_identity.csv.zip to /content
  0% 0.00/3.21M [00:00<?, ?B/s]
100% 3.21M/3.21M [00:00<00:00, 106MB/s]
Downloading train_transaction.csv.zip to /content
 93% 54.0M/58.3M [00:00<00:00, 125MB/s]
100% 58.3M/58.3M [00:00<00:00, 168MB/s]

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')
drive.mount("/content/gdrive", force_remount=True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive
Mounted at /content/gdrive

In [3]:
import pandas as pd
import numpy as np
trn=pd.read_csv('train_transaction.csv.zip')
trn_idn=pd.read_csv('train_identity.csv.zip')

In [4]:
trn=trn.merge(trn_idn,on='TransactionID',how='left')
import gc
del([trn_idn])
gc.collect()

11

In [5]:
trn['day']=trn['TransactionDT']//86400
for col in range(1,16):
  trn['d_'+str(col)]=trn['day']-trn['D'+str(col)]

In [6]:
trn.head()

   TransactionID  isFraud  TransactionDT  ...  d_13 d_14   d_15
0        2987000        0          86400  ...   NaN  NaN    1.0
1        2987001        0          86401  ...   NaN  NaN    1.0
2        2987002        0          86469  ...   NaN  NaN -314.0
3        2987003        0          86499  ...   NaN  NaN -110.0
4        2987004        0          86506  ...   NaN  NaN    NaN

[5 rows x 450 columns]

In [8]:
lst=list(trn.filter(regex='card'))
lst.append('TransactionAmt')
lst.append('V307')
lst.append('P_emaildomain')
lst.append('dist1')
lst.append('dist2')
lst.append('addr1')
lst.append('addr2')
lst.append('ProductCD')
lst

['card1',
 'card2',
 'card3',
 'card4',
 'card5',
 'card6',
 'TransactionAmt',
 'V307',
 'P_emaildomain',
 'dist1',
 'dist2',
 'addr1',
 'addr2',
 'ProductCD']

In [9]:
trn=trn.drop(['TransactionID','TransactionDT','isFraud'],1)
cat=list(trn.select_dtypes(include=object))
trn[cat]=trn[cat].fillna('nan')
trn=trn.fillna(-999)

In [10]:
trn=trn.loc[trn['D1']<trn['day']].reset_index(drop=True)

In [11]:
from tqdm import tqdm
import random
def group(df,cols):
  df['id']=''
  for col in cols:
    df['id']+=df[col].astype(str)
  result=0
  for _,sdo in df.groupby(['id']):
    tmp=0
    tmp+=sdo['TransactionAmt'].values.sum()
    tmp-=sdo.tail(1)['V307'].values
    if tmp>0:
      result+=tmp
    else:
      tmp-=result
  return result
trn=trn[lst]
cols=list(trn)
cols.remove('TransactionAmt')
cols.remove('V307')
random.shuffle(cols)
ans=0
ls=[]
dk={}
for en,col in enumerate(tqdm(cols)):
  ls.append(col)
  n_ans=group(trn,ls)
  dk[col]=ans-n_ans
  if ans!=0:
    if n_ans>=ans:
      ls.remove(col)
    else:
      ans=n_ans
  else:
    ans=n_ans

100%|██████████| 12/12 [06:30<00:00, 32.57s/it]

In [12]:
ans

array([45933247.88981947])

In [13]:
df=pd.DataFrame(dk).T
df['rank']=list(range(len(cols)))
df.sort_values(by=0,ascending=False).head(20)

                          0  rank
addr1          3.351978e+06    10
P_emaildomain  3.155447e+06     8
card1          2.377796e+06     6
card2          2.029885e+06     2
card5          8.885244e+05     4
dist2          2.771879e+05    11
ProductCD      1.142639e+05     5
card3          2.096052e+04     3
addr2          8.099046e+03     1
card6          1.798042e+03     7
card4          0.000000e+00     9
dist1         -5.815919e+07     0

In [14]:
ls

['dist1',
 'addr2',
 'card2',
 'card3',
 'card5',
 'ProductCD',
 'card1',
 'card6',
 'P_emaildomain',
 'addr1',
 'dist2']