<a href="https://colab.research.google.com/github/greyhound101/IEEE-CIS-Fraud/blob/master/finding_magic_feature_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
os.environ['KAGGLE_USERNAME'] = "tapaskd123" # username from the json file
os.environ['KAGGLE_KEY'] = "aba8dc1f085221111d925003fe5a88ed" # key from the json file
!kaggle competitions download -c ieee-fraud-detection

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading test_transaction.csv.zip to /content
 79% 41.0M/52.2M [00:00<00:00, 35.6MB/s]
100% 52.2M/52.2M [00:01<00:00, 51.3MB/s]
Downloading test_identity.csv.zip to /content
  0% 0.00/3.21M [00:00<?, ?B/s]
100% 3.21M/3.21M [00:00<00:00, 219MB/s]
Downloading train_transaction.csv.zip to /content
 70% 41.0M/58.3M [00:01<00:00, 23.3MB/s]
100% 58.3M/58.3M [00:01<00:00, 48.3MB/s]
Downloading train_identity.csv.zip to /content
  0% 0.00/3.26M [00:00<?, ?B/s]
100% 3.26M/3.26M [00:00<00:00, 108MB/s]
Downloading sample_submission.csv.zip to /content
  0% 0.00/1.14M [00:00<?, ?B/s]
100% 1.14M/1.14M [00:00<00:00, 161MB/s]

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')
drive.mount("/content/gdrive", force_remount=True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive
Mounted at /content/gdrive

In [3]:
import pandas as pd
import numpy as np
trn=pd.read_csv('train_transaction.csv.zip')
trn_idn=pd.read_csv('train_identity.csv.zip')

In [4]:
trn=trn.merge(trn_idn,on='TransactionID',how='left')
import gc
del([trn_idn])
gc.collect()

11

In [5]:
trn.head()

   TransactionID  isFraud  ...  DeviceType                     DeviceInfo
0        2987000        0  ...         NaN                            NaN
1        2987001        0  ...         NaN                            NaN
2        2987002        0  ...         NaN                            NaN
3        2987003        0  ...         NaN                            NaN
4        2987004        0  ...      mobile  SAMSUNG SM-G892A Build/NRD90M

[5 rows x 434 columns]

In [6]:
trn['day']=trn['TransactionDT']//86400
for col in range(1,16):
  trn['d_'+str(col)]=trn['day']-trn['D'+str(col)]

In [7]:
print(trn.shape)

(590540, 450)

In [8]:
def second(data):
  return data[data.find('.'):]
def first(data):
  return data[:data.find('.')]
trn['P_emaildomain'].fillna('nan',inplace=True)
trn['R_emaildomain'].fillna('nan',inplace=True)
trn['P_emaildomain_first']=trn['P_emaildomain'].apply(first)
trn['P_emaildomain_second']=trn['P_emaildomain'].apply(second)
trn['R_emaildomain_first']=trn['R_emaildomain'].apply(first)
trn['R_emaildomain_second']=trn['R_emaildomain'].apply(second)

In [9]:
trn=trn.drop(['TransactionID','TransactionDT','isFraud'],1)
cat=list(trn.select_dtypes(include=object))
trn[cat]=trn[cat].fillna('nan')
trn=trn.fillna(-999)

In [10]:
trn=trn.loc[trn['D1']<trn['day']]

In [11]:
trn=trn.loc[trn['D1']<trn['day']].reset_index(drop=True)
import random
cols=['C13','C1','C11','C2','C9','id_31','id_02','id_05','id_33','id_20','id_12','D2','D3','D11','D4','D8','d_3','d_2','d_4','d_8','d_10','d_11','d_1','addr1','P_emaildomain','card1','card2','card5','dist2','ProductCD','TransactionAmt','V307']
random.shuffle(cols)

In [12]:
print(len(set(cols)))
print(len(cols))

32
32

In [13]:
from tqdm import tqdm
import random
def group(df,cols):
  df['id']=''
  for col in cols:
    df['id']+=df[col].astype(str)
  result=0
  for _,sdo in df.groupby(['id']):
    tmp=0
    tmp+=sdo['TransactionAmt'].values.sum()
    tmp-=sdo.tail(1)['V307'].values
    if tmp>0:
      result+=tmp
    else:
      tmp-=result
  return result
trn=trn[cols]
cols=list(trn)
cols.remove('TransactionAmt')
cols.remove('V307')
random.shuffle(cols)
ans=0
ls=[]
dk={}
for en,col in enumerate(tqdm(cols)):
  try:
    ls.append(col)
    n_ans=group(trn,ls)
    dk[col]=ans-n_ans
    if ans!=0:
      if n_ans>=ans:
        ls.remove(col)
      else:
        ans=n_ans
    else:
      ans=n_ans
  except:
    print(col)
    continue

100%|██████████| 30/30 [1:17:52<00:00, 155.74s/it]

In [14]:
ans

array([39388558.76655173])

In [15]:
df=pd.DataFrame(dk).T
df['rank']=list(range(30))
df.sort_values(by=0,ascending=False)

                          0  rank
d_4            8.720786e+06     6
card1          6.305648e+06     2
d_11           1.538984e+06     7
addr1          6.772367e+05    15
C13            4.371516e+05     1
id_05          3.680935e+05     5
C1             2.572019e+05    11
id_33          1.892000e+05     9
ProductCD      1.613319e+05     4
C11            1.332286e+05    14
D11            9.599896e+04     8
card5          8.098493e+04     3
d_2            6.673422e+04    17
id_12          6.445049e+04    10
P_emaildomain  5.873090e+04    25
D8             3.719229e+04    12
d_10           2.616480e+04    20
C9             2.091403e+04    19
d_1            6.252873e+03    22
d_8            9.424876e+02    13
id_20          2.777268e+02    27
card2          0.000000e+00    28
dist2         -9.600449e+01    26
D2            -2.571586e+03    21
D4            -4.667240e+03    23
D3            -8.351287e+03    18
C2            -1.404893e+04    29
id_02         -1.608833e+04    16
d_3           -5.346218e+04    24
id_31         -5.863606e+07     0

In [16]:
len(ls)

22

In [17]:
ls

['id_31',
 'C13',
 'card1',
 'card5',
 'ProductCD',
 'id_05',
 'd_4',
 'd_11',
 'D11',
 'id_33',
 'id_12',
 'C1',
 'D8',
 'd_8',
 'C11',
 'addr1',
 'd_2',
 'C9',
 'd_10',
 'd_1',
 'P_emaildomain',
 'id_20']